* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(255, 255, 255, 0.85);
}

.heading {
    color: #131212;
    margin: 25px 0;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
}

/* .startup_bg {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.startup_form {
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

.startup_cross {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: auto;
    cursor: pointer;
}

.startup_title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
} */

.teams_details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.team_details {
    max-width: 200px;
    width: 100%;
}

.form_input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.form_input input {
    padding: 3px 5px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.detail {
    max-width: 300px;
    width: 100%;
    padding: 25px;
    background-color: peru;
    border-radius: 25px;
    display: grid;
    grid-template-areas: "team team" "score over";
    place-items: center;
    gap: 10px;
}

.team {
    grid-area: team;
}

.team h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.score {
    grid-area: score;
}

.over {
    grid-area: over;
}

.score,
.over {
    color: white;
    font-size: 32px;
    font-weight: 500;
}

.target__text {
    font-size: 20px;
    font-weight: 500;
}

.controls {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.control__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.over__wrapper {
    background-color: rgb(233, 246, 116);
    min-width: 100px;
    max-width: max-content;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(227, 187, 187);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    padding: 20px;
}

.currentBall {
    min-width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: rgb(214, 133, 249);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.currentBall.wicket {
    background-color: silver;
}

.currentBall.no-ball {
    background-color: red;
}

.currentBall.wide {
    color: #131212;
    background-color: white;
}

.currentBall.six {
    background-color: gold;
}

.currentBall.four {
    background-color: blue;
}

.currentBall.dot {
    background-color: seagreen;
}

.buttons__wrapper {
    background-color: rgb(233, 246, 116);
    max-width: 700px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(227, 187, 187);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 30px;
}

.checkbox {
    display: none;
}

.checkbox:checked+.button {
    background-color: #f9b435;
}

.checkbox:disabled+.button {
    background-color: rgb(128, 128, 128);
    opacity: 0.5;
    cursor: not-allowed;
}

.button {
    color: #ffffff;
    background-color: rgb(214, 133, 249);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    padding: 5px 15px;
}

.submitBtn {
    border: none;
    outline: none;
    padding: 10px 18px;
    font-size: 18px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 1px 1px 5px 1px #474747;
    transition: all 0.3s linear;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: rgb(202, 202, 19);
}

.records {
    position: absolute;
    top: 105px;
    max-width: 300px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
}

.record {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.records-1 {
    left: 20px;
}

.records-2 {
    right: 20px;
}

.currentRecord {
    background-color: rgb(233, 246, 116);
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(227, 187, 187);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    padding: 15px;
}

.currentRecord .currentBall {
    min-width: 20px;
    height: 20px;
    font-size: 12px;
}

.modal__section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 40px 20px rgb(154, 153, 154);
}

.modal__text {
    font-size: 25px;
}

.modal__button {
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 10px;
    color: #ffffff;
    background-color: red;
    cursor: pointer;
}